@{
    ViewBag.Title = "题库章节练习";
    Layout = "~/Views/_layoutMember.cshtml";
}
@section css{
    <style>
    .layui-input {height: 22px;padding-left: 5px;font-size: 13px;color: #555;}
    .layui-form-select .layui-input {padding-right: 20px;}
    .layui-form-select .layui-edge {right: 5px;}
    .layui-form-select dl {top: 23px;}
    .layui-form-select dl dd {line-height: 22px;font-size: 13px;color: #555;}
    </style>
}
<div style="position:absolute;right:25px;top:10px;">
    <a href="/myitem" class="layui-btn layui-btn-sm"><i class="layui-icon">&#xe603;</i>我的学习</a>
</div>
<br />
<span class="layui-breadcrumb">
    <a href="javascript:;">题库章节</a>
    <a><cite id="breadcrumb"></cite></a>
</span>
<table class="layui-table" lay-skin="line">
    <thead>
        <tr>
            <th style="width:700px">章节</th>
            <th style="width:200px">学习进度</th>
            <th style="width:55px"></th>
            <th style="width:50px"></th>
        </tr>
    </thead>
    <tbody id="tableView" class="layui-form"></tbody>
</table>
<script type="text/html" id="tableTpl">
    {{# layui.each(d, function(i, item){ }}
    <tr>
        {{# if(item.leved===3){ }}
        <td><a href="javascript:;" class="leved3" data-scid="{{item.id}}" title="{{item.name}}"><i class="layui-icon">&#xe623;</i>&nbsp;{{item.name}}</a></td>
        <td>
            {{# if(item.total>0){ }}
            <div class="layui-progress" lay-showpercent="yes"><div class="layui-progress-bar" lay-percent="{{parseFloat((item.cous*100.0/item.total).toFixed(2))}}%"></div></div>
            {{# } }}
        </td>
        <td style="padding:9px 0;">
            <select>
                {{# if(item.chs>0){ }}
                <option value="ch">单选题</option>
                {{# } if(item.mus>0){ }}
                <option value="mu">多选题</option>
                {{# } if(item.jus>0){ }}
                <option value="ju">判断题</option>
                {{# } if(item.fis>0){ }}
                <option value="fi">填空题</option>
                {{# } if(item.qas>0){ }}
                <option value="qa">问答题</option>
                {{# } if(item.mcs>0){ }}
                <option value="mc">名词解析</option>
                {{# } }}
            </select>
        </td>
        <td>
            <a href="javascript:;" data-miid="{{item.miid}}" data-scid="{{item.id}}" class="start layui-btn layui-btn-xs" title="{{item.cous}}/{{item.total}}">开始练习</a>
        </td>
        {{# } else { }}
        <td><i class="layui-icon">&#xe624;</i>&nbsp;{{item.name}}</td>
        <td>
            {{# if(item.total>0){ }}
            <div class="layui-progress" lay-showpercent="yes"><div class="layui-progress-bar layui-bg-blue" lay-percent="{{parseFloat((item.cous*100.0/item.total).toFixed(2))}}%"></div></div>
            {{# } }}
        </td>
        <td style="padding:9px 0;">
            <select>
                {{# if(item.chs>0){ }}
                <option value="ch">单选题</option>
                {{# } if(item.mus>0){ }}
                <option value="mu">多选题</option>
                {{# } if(item.jus>0){ }}
                <option value="ju">判断题</option>
                {{# } if(item.fis>0){ }}
                <option value="fi">填空题</option>
                {{# } if(item.qas>0){ }}
                <option value="qa">问答题</option>
                {{# } if(item.mcs>0){ }}
                <option value="mc">名词解析</option>
                {{# } }}
            </select>
        </td>
        <td><a href="javascript:;" data-miid="{{item.miid}}" data-scid="{{item.id}}" class="start layui-btn layui-btn-xs layui-btn-normal" title="{{item.cous}}/{{item.total}}">开始练习</a></td>
        {{# } }}
    </tr>
    {{# });}}
</script>
@section js{
    <script>
        layui.use(['element', 'laytpl', 'form'], function () {
            var element = layui.element,
                laytpl = layui.laytpl,
                form = layui.form;
            $(function () {
                getchapter();
                $('.layui-breadcrumb a').first().off().on('click', function () {
                    var dom = $('#breadcrumb');
                    if (dom.text().length > 0) {
                        dom.text('');
                        getchapter();
                    }
                });
            });
            function getchapter(scid) {
                $.ajax({
                    url: '/api/chapter',
                    type: 'get', dataType: 'json', cache: false,
                    data: {
                        scid: scid || 0
                    },
                    beforeSend: function () { layer.load(2); },
                    success: function (res) {
                        if (res) {
                            laytpl(tableTpl.innerHTML).render(res, function (htm) {
                                $('#tableView').html(htm);
                            });
                            form.render('select');
                            bindEvent();
                            setTimeout(function () {
                                element.render('progress');
                            }, 100);
                        }
                        else {
                            $('.member-content').empty();
                            layer.alert('您还没有学习任何项目，请在“继教项目”里添加项目学习。', { icon: 5, closeBtn: 0, offset: '100px' }, function () {
                                window.location.replace('/eduitem/search');
                            });
                        }
                    },
                    complete: function () { layer.closeAll('loading'); },
                    error: function (msg) { alert('ajaxError:' + msg.responseText); }
                });
            }
            function bindEvent() {
                $('.leved3').off().on('click', function () {
                    $('#breadcrumb').text($(this).attr('title'));
                    getchapter($(this).data('scid'));
                });
                $('.start').off().on('click', function () {
                    var that = $(this),
                        miid = that.data('miid'),
                        scid = that.data('scid'),
                        stype = that.parent('td').prev().find('.layui-this').attr('lay-value');
                    window.location.href = '/practise/' + miid + '/' + scid + '/' + stype + '?rid=' + Math.random().toString(36).substr(2);
                });
            }
        });
    </script>
}
