@{
    ViewBag.Title = "工作信息";
    Layout = "~/Views/_layoutMember.cshtml";
}
<div class="layui-tab layui-tab-brief">
    <ul class="layui-tab-title">
        <li><a href="/profile/messages">我的消息</a></li>
        <li><a href="/profile/core">个人中心</a></li>
        <li><a href="/profile/personal">基本信息</a></li>
        <li class="layui-this">工作信息</li>
        <li><a href="/profile/changepwd">修改密码</a></li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">所在地区</label>
                    <div class="layui-inline myselect">
                        <select id="city" lay-verify="required" lay-filter="city"></select>
                    </div>
                    <div class="layui-inline myselect">
                        <select id="county" name="county" lay-verify="required" lay-filter="county"></select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">单位名称</label>
                    <div class="layui-input-inline" style="width:335px;">
                        <input type="text" id="company" name="company" lay-verify="required" placeholder="请输入单位名称" autocomplete="off" class="layui-input" />
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <a href="javascript:;" id="seleCompany" class="layui-btn layui-btn-xs layui-btn-primary"><i class="layui-icon">&#xe615;</i></a>
                    </div>
                </div>
                @*<div class="layui-form-item">
                        <label class="layui-form-label">部门/科室</label>
                        <div class="layui-inline myselect">
                            <select name="bumen" id="bumen" lay-filter="bumen"></select>
                        </div>
                        <div class="layui-inline myselect">
                            <select name="keshi" id="keshi"></select>
                        </div>
                    </div>*@
                <div class="layui-form-item">
                    <label class="layui-form-label">级别/职称</label>
                    <div class="layui-inline myselect">
                        <select name="jibie" id="jibie" lay-verify="required" lay-filter="jibie"></select>
                    </div>
                    <div class="layui-inline myselect">
                        <select name="zhicheng" id="zhicheng" lay-verify="required"></select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">身份证号</label>
                    <div class="layui-input-inline" style="width:335px;">
                        <input type="text" id="idcard" name="idcard" lay-verify="verIdCard" placeholder="请输入身份证号" autocomplete="off" class="layui-input" />
                    </div>
                    <div class="layui-form-mid layui-word-aux">认证需要</div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">个人简介</label>
                    <div class="layui-input-inline" style="width:335px;">
                        <textarea id="bz" name="bz" placeholder="请输入个人简介" class="layui-textarea" style="height: 100px;"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="saveForm">立即保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section js{
    <script src="/scripts/member/profile/profession.js?v=2.0.2"></script>
}

