@{
    ViewBag.Title = "我的学习";
    Layout = "~/Views/_layoutMember.cshtml";
}
@section css{
    <style>.layui-col-space30 {margin: 0;}</style>
}
<div class="ln-title">
    <a href="/myitem/list" title="切换继教项目"><span id="itemName"></span><i class="layui-icon">&#xe61a;</i></a>
</div>
<div class="layui-row" style="margin-top:15px;">
    <div class="layui-col-md4" style="text-align:center;">
        <div class="hl-progress" id="xxjd"></div>
    </div>
    <div class="layui-col-md4" style="text-align:center;">
        <div class="hl-progress" id="bxk"></div>
    </div>
    <div class="layui-col-md4" style="text-align:center;">
        <div class="hl-progress" id="xxk"></div>
    </div>
</div>
<div class="layui-row layui-col-space30">
    <div class="layui-col-md3 ln-card">
        <a href="javascript:;" id="continue">
            <p class="ln-name zj">继续学习</p>
            <p class="ln-de">继续学习上次的课件</p>
        </a>
    </div>
    <div class="layui-col-md3 ln-card">
        <a href="/myitem/record">
            <p class="ln-name jl">学习记录</p>
            <p class="ln-de">记录学习的进度</p>
        </a>
    </div>
    <div class="layui-col-md3 ln-card">
        <a href="javascript:;" id="chapter">
            <p class="ln-name zx">题库练习</p>
            <p class="ln-de">按科目练习试题集</p>
        </a>
    </div>
    <div class="layui-col-md3 ln-card">
        <a href="javascript:;" id="joinExam">
            <p class="ln-name mn">参加考试</p>
            <p class="ln-de">参加考试后才有学分</p>
        </a>
    </div>
</div>
<table class="layui-table" lay-skin="line">
    <thead>
        <tr>
            <th style="width:600px">课件目录</th>
            <th style="width:70px">修读类型</th>
            <th style="width:70px">学时/时长</th>
            <th style="width:150px">学习进度</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="layui-form" id="kjView"></tbody>
</table>
<script type="text/html" id="kjTpl">
    {{# layui.each(d.list, function(i,item){ }}
    <tr>
        <td>{{item.title}}</td>
        <td>{{item.typ}}</td>
        <td>{{item.xs}} / {{item.sc}}</td>
        <td>
            <div class="layui-progress" lay-showpercent="yes">
                <div class="layui-progress-bar" lay-percent="{{item.perc}}%"></div>
            </div>
        </td>
        <td>
            <a href="/course/learn/{{d.miid}}?rid={{Math.random().toString(36).substr(2)}}#!kj={{item.id}}" class="layui-btn layui-btn-xs" title="应学{{item.total}}，已学{{item.minut}}">开始学习</a>
        </td>
    </tr>
    {{# }); }}
</script>
@section js{
<script src="/scripts/myitem/index.js?v=2.0.2"></script>
}