@{
    ViewBag.Title = "随机组卷";
    Layout = "~/Areas/admin/Views/_layoutAdmin.cshtml";
}
@section css{
    <style>
        .layui-tab-title li {
            cursor: default;
        }
    </style>
}
<div class="layui-tab layui-tab-brief">
    <ul class="layui-tab-title">
        <li class="layui-this">1.基本设置</li>
        <li>2.题库类型</li>
        <li>3.题数设置</li>
        <li>4.参考对象</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">考试名称</label>
                    <div class="layui-input-block" style="width: 600px;">
                        <input type="text" name="examName" lay-verify="required" autocomplete="off" placeholder="请输入考试名称" class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">考试说明</label>
                    <div class="layui-input-block" style="width: 600px;">
                        <textarea name="explain" lay-verify="isExplain" autocomplete="off" placeholder="请输入考试说明内容（限300个字符）" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">及格分数</label>
                        <div class="layui-input-inline">
                            <input type="number" name="passScore" lay-verify="isScore" autocomplete="off" placeholder="请输入及格分数" class="layui-input" value="60" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">考试次数</label>
                        <div class="layui-input-inline">
                            <input type="number" name="examNum" lay-verify="isInteger" autocomplete="off" placeholder="0为无限制" class="layui-input" value="1" />
                        </div>
                        <div class="layui-form-mid layui-word-aux">0为无限制</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">答题时间</label>
                    <div class="layui-input-inline">
                        <input type="number" name="useTime" lay-verify="isInteger|min10" autocomplete="off" placeholder="请输入答题时间" class="layui-input" value="60" />
                    </div>
                    <div class="layui-form-mid layui-word-aux">分钟</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">截止日期</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="isLimit" lay-filter="isLimit" autocomplete="off" lay-skin="primary" title="是/否使用考试时间限制" checked="" />
                    </div>
                </div>
                <div class="layui-form-item" id="setDate">
                    <div class="layui-inline">
                        <label class="layui-form-label">日期设置</label>
                        <div class="layui-input-inline" style="width: 170px;">
                            <input type="text" id="minDate" name="minDate" placeholder="yyyy-MM-dd hh:mm:ss" autocomplete="off" class="layui-input" readonly="readonly" onfocus="minEve()" />
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline" style="width: 170px;">
                            <input type="text" id="maxDate" name="maxDate" placeholder="yyyy-MM-dd hh:mm:ss" autocomplete="off" class="layui-input" readonly="readonly" onfocus="maxEve()" />
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">查看答案</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="isShow" autocomplete="off" lay-skin="primary" title="是/否允许提交答案后查看答题情况" checked="" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">页面复制</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="isCopy" autocomplete="off" lay-skin="primary" title="是/否允许考试页面右键复制功能" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">考试状态</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="state" lay-skin="switch" lay-text="启用|停用" checked="checked" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="form1">下一步</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="layui-tab-item">
            <blockquote class="layui-elem-quote layui-quote-nm">
                <form class="layui-form layui-form-pane find-panel">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">职称级别</label>
                            <div class="layui-input-inline">
                                <select id="level" lay-verify="required" lay-filter="level"></select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">选择题库</label>
                            <div class="layui-input-inline">
                                <select id="subjectClass" lay-verify="required" lay-filter="subjectClass"></select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">选择章节</label>
                            <div class="layui-input-inline">
                                <select name="sid" id="subjectClass1" lay-verify="required"></select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn" lay-submit lay-filter="form2">查询</button>
                        </div>
                    </div>
                </form>
            </blockquote>
            <table id="subTable" lay-filter="subTable"></table>
            <a href="javascript:;" class="layui-btn layui-btn-primary previous">上一步</a>
            <a href="javascript:;" class="layui-btn selectSubject" style="display: none;">下一步</a>
        </div>
        <div class="layui-tab-item" style="width: 650px">
            <form class="layui-form">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th style="width:15%">题型</th>
                            <th style="width:20%">出题数量</th>
                            <th style="width:20%">每题分数</th>
                            <th style="width:20%">小计分数</th>
                        </tr>
                    </thead>
                    <tbody id="subNum">
                        <tr>
                            <td>单选题</td>
                            <td><input type="number" autocomplete="off" name="chnum" class="layui-input txtNum chNum" lay-verify="isInteger" value="0" /></td>
                            <td><input type="number" autocomplete="off" name="chscore" class="layui-input txtScore" lay-verify="isScore" value="1" /></td>
                            <td><input type="number" autocomplete="off" class="layui-input layui-disabled txtAmount" value="0.00" readonly="readonly" /></td>
                        </tr>
                        <tr>
                            <td>多选题</td>
                            <td><input type="number" autocomplete="off" name="munum" class="layui-input txtNum muNum" lay-verify="isInteger" value="0" /></td>
                            <td><input type="number" autocomplete="off" name="muscore" class="layui-input txtScore" lay-verify="isScore" value="2" /></td>
                            <td><input type="number" autocomplete="off" class="layui-input layui-disabled txtAmount" value="0.00" readonly="readonly" /></td>
                        </tr>
                        <tr>
                            <td>判断题</td>
                            <td><input type="number" autocomplete="off" name="junum" class="layui-input txtNum juNum" lay-verify="isInteger" value="0" /></td>
                            <td><input type="number" autocomplete="off" name="juscore" class="layui-input txtScore" lay-verify="isScore" value="1" /></td>
                            <td><input type="number" autocomplete="off" class="layui-input layui-disabled txtAmount" value="0.00" readonly="readonly" /></td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align: right;">总计分数</td>
                            <td class="subTotal">0</td>
                        </tr>
                    </tbody>
                </table>
                <a href="javascript:;" class="layui-btn layui-btn-primary previous">上一步</a>
                <button class="layui-btn setNumber" lay-submit lay-filter="form3" style="display: none;">下一步</button>
            </form>
        </div>
        <div class="layui-tab-item" style="width: 1000px">
            <table class="layui-table layui-form">
                <thead>
                    <tr>
                        <th>名称</th>
                        <th width="100">应考人数</th>
                        <th width="100">注册人数</th>
                    </tr>
                </thead>
                <tbody id="BMgridView"></tbody>
            </table>
            <a href="javascript:;" class="layui-btn layui-btn-primary previous">上一步</a>
            <a href="javascript:;" class="layui-btn save">确定保存</a>
        </div>
    </div>
</div>
<script type="text/html" id="operate">
    <input type="checkbox" class="subcheck" value="{{d.id}}" title="选择" lay-filter="subcheck">
</script>
@section js{
    <script src="~/content/my97date/WdatePicker.js"></script>
    <script>
        layui.config({
            base: '/areas/admin/js/'
        }).use(['form', 'laypage', 'table', 'zjevent'], function () {
            var form = layui.form, laypage = layui.laypage, table = layui.table, zjevent = layui.zjevent;
            var sidArr = new Array(),
                formJson1,//基本设置json数据
                formJson2;//选择题数json数据
            $(function () {
                zjevent.bindCommon();
                sel.level();
            });
            //1.基本设置============
            form.on('submit(form1)', function (d) {
                var fd = d.field;
                if (fd.isLimit === 'on') {
                    if (fd.minDate.length <= 0) layer.msg('请选择开始日期', { icon: 2, anim: 6 });
                    else if (fd.maxDate.length <= 0) layer.msg('请选择结束日期', { icon: 2, anim: 6 });
                    else {
                        formJson1 = fd;
                        zjevent.tabNext();
                    }
                }
                else {
                    formJson1 = fd;
                    zjevent.tabNext();
                }
                return false;
            });
            //2.题库类型============
            var sel = {
                level: function () {
                    $.ajax({
                        url: '/handler/sele_jb.ashx',
                        type: 'get', dataType: 'json', cache: false,
                        data: null,
                        beforeSend: function () { layer.load(2); },
                        success: function (res) {
                            var dom = $('#level');
                            $('<option />', { value: '', text: '' }).appendTo(dom);
                            $.each(res, function (i, item) {
                                $('<option />', {
                                    value: item.val,
                                    text: item.text
                                }).appendTo(dom);
                            });
                            form.render('select');
                        },
                        complete: function () { layer.closeAll('loading'); },
                        error: function (msg) { alert('ajaxError:' + msg.responseText); }
                    });
                },
                ajaxSele: function (data, dom) {
                    $.ajax({
                        url: '/handler/admin/sele_subjectclass.ashx',
                        type: 'get', dataType: 'json', cache: false,
                        data: data,
                        beforeSend: function () { layer.load(2); },
                        success: function (res) {
                            dom.empty();
                            if (res !== null) {
                                $('<option />', { value: '', text: '' }).appendTo(dom);
                                $.each(res, function (i, item) {
                                    $('<option />', {
                                        value: item.val,
                                        text: item.text
                                    }).appendTo(dom);
                                });
                            }
                            else {
                                $('<option />', { value: '', text: '没有任何数据' }).appendTo(dom);
                            }
                            form.render('select');
                        },
                        complete: function () { layer.closeAll('loading'); },
                        error: function (msg) { alert('ajaxError:' + msg.responseText); }
                    });
                }
            };
            form.on('select(level)', function (d) {
                $('#subjectClass1').empty();
                sel.ajaxSele({ level: d.value }, $('#subjectClass'));
            });
            form.on('select(subjectClass)', function (d) {
                sel.ajaxSele({ pid: d.value }, $('#subjectClass1'));
            });
            form.on('submit(form2)', function (d) {
                rederTable(d.field.sid);
                $('.selectSubject').show().off().on('click', function () {
                    if (sidArr.length > 0) {
                        zjevent.bindInput();
                        zjevent.tabNext();
                    }
                    else {
                        layer.msg('没有选择任何题库章节', { icon: 2, anim: 6 });
                    }
                });
                return false;
            });
            function rederTable(sid) {
                table.render({
                    elem: '#subTable', url: '/admin/sjzj/subtable', id: 'subTable',
                    page: true, limits: [10, 15],
                    where: { sid: sid },
                    cols: [[
                        { field: 'rows', width: 80, unresize: true, title: '序号', align: 'center' },
                        { width: 100, unresize: true, templet: '#operate' },
                        { field: 'name', width: 300, title: '章节名称' },
                        { field: 'chs', width: 80, unresize: true, title: '单选题', align: 'right' },
                        { field: 'mus', width: 80, unresize: true, title: '多选题', align: 'right' },
                        { field: 'jus', width: 80, unresize: true, title: '判断题', align: 'right' },
                        { width: 80, unresize: true, title: '合计', align: 'right', templet: '<span>{{d.chs+d.mus+d.jus}}</span>' }
                    ]],
                    done: function (res, curr, count) {
                        $.each(res.data, function (i, item) {
                            if ($.inArray(item.id, sidArr) >= 0) $('.subcheck[value="' + item.id + '"]').attr('checked', true);
                        })
                        form.render('checkbox');
                    }
                });
            }
            form.on('checkbox(subcheck)', function (obj) {//选择添加试题
                if (obj.elem.checked) sidArr.push(parseInt(this.value));
                else sidArr.splice($.inArray(parseInt(this.value), sidArr), 1);
            });
            //3.题数设置============
            form.on('submit(form3)', function (d) {
                formJson2 = d.field;
                zjevent.spread_bm();
                bindSave();
                zjevent.tabNext();
                return false;
            });
            //4.参考对象============
            function bindSave() {
                $('.save').off().on('click', function () {
                    var joinArr = new Array();//参考对象数组
                    $('#BMgridView tr').each(function () {
                        var checkboxDOM = $(this).find('.layui-form-checkbox');
                        if (checkboxDOM.hasClass('layui-form-checked')) {
                            joinArr.push(checkboxDOM.prev('input').val());
                        }
                    });
                    if (joinArr.length > 0) {
                        layer.confirm('确定保存？', { icon: 3 }, function () {
                            $.ajax({
                                url: '/admin/sjzj/save',
                                type: 'post', dataType: 'json', cache: false,
                                data: {
                                    name: formJson1.examName,
                                    explain: formJson1.explain.length > 0 ? formJson1.explain : null,
                                    passScore: formJson1.passScore,
                                    examNum: formJson1.examNum,
                                    useTime: formJson1.useTime,
                                    isLimit: formJson1.isLimit === 'on' ? true : false,
                                    startTime: formJson1.minDate.length > 0 ? formJson1.minDate : null,
                                    endTime: formJson1.maxDate.length > 0 ? formJson1.maxDate : null,
                                    isShow: formJson1.isShow === 'on' ? true : false,
                                    isCopy: formJson1.isCopy === 'on' ? true : false,
                                    state: formJson1.state === 'on' ? true : false,
                                    sidList: sidArr.join(),
                                    chs: parseInt(formJson2.chnum),
                                    chvs: parseFloat(formJson2.chscore),
                                    mus: parseInt(formJson2.munum),
                                    muvs: parseFloat(formJson2.muscore),
                                    jus: parseInt(formJson2.junum),
                                    juvs: parseFloat(formJson2.juscore),
                                    examJoin: joinArr.join()
                                },
                                beforeSend: function () { layer.load(2); },
                                success: function (res) {
                                    layer.msg('保存成功', {
                                        icon: 1, time: 500, end: function () {
                                            window.location.reload();
                                        }
                                    });
                                },
                                complete: function () { layer.closeAll('loading'); },
                                error: function (msg) { alert('ajaxError:' + msg.responseText); }
                            });
                        });
                    }
                    else {
                        layer.msg('没有选择任何参考对象', { icon: 2, anim: 6 });
                    }
                });
            }
        });
        function minEve() {
            WdatePicker({
                startDate: '%y-%M-%d 00:00:00',
                dateFmt: 'yyyy-MM-dd HH:mm:ss',
                maxDate: '#F{$dp.$D(\'maxDate\')}',
                alwaysUseStartDate: true
            });
        }
        function maxEve() {
            WdatePicker({
                startDate: '%y-%M-%d 23:59:59',
                dateFmt: 'yyyy-MM-dd HH:mm:ss',
                minDate: '#F{$dp.$D(\'minDate\')}',
                alwaysUseStartDate: true
            })
        }
    </script>
}