@{
    ViewBag.Title = "我的学习";
    Layout = "~/Views/_layoutMember.cshtml";
}
@section css{
    <style>
        .layui-col-space30 {
            margin: 0;
        }
    </style>
}
<div class="ln-title">
    <a href="/eduitem/myitem" title="切换继教项目">住院病案首页的质量控制和检查<i class="layui-icon">&#xe61a;</i></a>
</div>
<div class="layui-row" style="margin-top:15px;">
    <div class="layui-col-md4" style="text-align:center;">
        <div class="hl-progress" id="xxjd"></div>
    </div>
    <div class="layui-col-md4" style="text-align:center;">
        <div class="hl-progress" id="zwd"></div>
    </div>
    <div class="layui-col-md4" style="text-align:center;">
        <div class="hl-progress" id="zql"></div>
    </div>
</div>
<div class="layui-row layui-col-space30">
    <div class="layui-col-md3 ln-card">
        <a href="/course/index">
            <p class="ln-name zj">继续学习</p>
            <p class="ln-de">随机抽所有题练习</p>
        </a>
    </div>
    <div class="layui-col-md3 ln-card">
        <a href="/learn/record">
            <p class="ln-name jl">学习记录</p>
            <p class="ln-de">记录学习的进度</p>
        </a>
    </div>
    <div class="layui-col-md3 ln-card">
        <a href="/learn/chapter">
            <p class="ln-name zx">题库练习</p>
            <p class="ln-de">按科目系列逐步练习</p>
        </a>
    </div>
    <div class="layui-col-md3 ln-card">
        <a href="/practise/learn">
            <p class="ln-name mn">参加考试</p>
            <p class="ln-de">无限制地自动组卷</p>
        </a>
    </div>
</div>
<table class="layui-table" lay-skin="line">
    <thead>
        <tr>
            <th style="width:600px">课件目录</th>
            <th style="width:70px">修读类型</th>
            <th style="width:70px">学时/时长</th>
            <th style="width:150px">学习进度</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="layui-form">
        @for (int i = 0; i < 10; i++)
        {
            <tr>
                <td>基础医学综合-生物化</td>
                <td>必修课</td>
                <td>0.5 / 60</td>
                <td>
                    <div class="layui-progress" lay-showpercent="yes">
                        <div class="layui-progress-bar" lay-percent="55%"></div>
                    </div>
                </td>
                <td>
                    <a href="#" class="layui-btn layui-btn-xs">开始学习</a>
                </td>
            </tr>
        }
</table>
@section js{
    <script>
        layui.use(['element', 'layer'], function () {
            var element = layui.element, layer = layui.layer;
            //var dv = $('#data').val();
            //if (dv !== 'null') {
            //var data = $.parseJSON(dv);
            progress({ text: '学习进度', percent: 55.6, elem: '#xxjd' });
            progress({ text: '必修课', percent: 89.3, elem: '#zwd', color: '#f4665b' });
            progress({ text: '选修课', percent: 23, elem: '#zql', color: '#00A854' });

            //layProgress({ text: '今日学习', percent: data.jrxx, num: data.today, elem: '#dtl', color: '#1E9FFF' });
            //layProgress({ text: '答对题数', percent: data.dds, num: data.yes, elem: '#ddts', color: '#5FB878' });
            //layProgress({ text: '答错题数', percent: data.dcs, num: data.wrong, elem: '#dcts', color: '#ff7f50' });
            element.render('progress');
            //}
            //else {
            //    $('.member-content').empty();
            //    layer.alert('您还没有选择任何题库学习，请在“选择题库”里添加题库学习。', { icon: 2, closeBtn: 0, offset: '100px' }, function () {
            //        window.location.replace('/subject');
            //    });
            //}
            function progress(options) {
                var _cr = options.color || '#108ee9',
                    _ps = (options.percent / 100) * 222;
                var htm = '<svg viewBox="0 0 100 100">';
                htm += '<path d="M 50,50 m 0,47 a 47,47 0 1 1 0,-94 a 47,47 0 1 1 0,94" stroke="#e2e2e2" stroke-width="6" fill-opacity="0" style="stroke-dasharray: 222px, 295.31px; stroke-dashoffset: -37.5px; transition: stroke-dashoffset 0.3s ease 0s, stroke-dasharray 0.3s ease 0s, stroke 0.3s;"></path>';
                htm += '<path d="M 50,50 m 0,47 a 47,47 0 1 1 0,-94 a 47,47 0 1 1 0,94" stroke="' + _cr + '" stroke-width="6" fill-opacity="0" style="stroke-dasharray: ' + _ps + 'px, 295.31px; stroke-dashoffset: -37.5px; transition: stroke-dashoffset 0.3s ease 0s, stroke-dasharray 0.3s ease 0s, stroke 0.3s;"></path>';
                htm += '</svg><span style="color:' + _cr + '">' + options.percent + '%</span>';
                if (options.text != undefined && options.text.length > 0) htm += '<p>' + options.text + '</p>';
                $(options.elem).empty().append(htm);
            }
            function layProgress(options) {
                var htm = '<div class="ln-prog-title">' + options.text + '<i>' + options.num + '</i></div>';
                htm += '<div class="layui-progress" lay-showpercent="true"><div class="layui-progress-bar" style="background:' + options.color + ';" lay-percent="' + options.percent + '%"></div></div>';
                $(options.elem).empty().append(htm);
            }
        });
    </script>
}
