@{
    ViewBag.Title = "我的继教项目";
    Layout = "~/Views/_layoutMember.cshtml";
}
<br />
<div class="layui-btn-group">
    <a href="/eduitem" class="layui-btn layui-btn-sm"><i class="layui-icon">&#xe603;</i>我的学习</a>
    <a href="/eduitem/search" class="layui-btn layui-btn-sm"><i class="layui-icon">&#xe615;</i>搜索继教项目</a>
</div>
<table id="tableDom" lay-filter="tableView"></table>
<script type="text/html" id="nameLet">
    <a href="/eduitem/detail/{{d.itid}}" target="_blank" title="{{d.name}}" style="color: #01AAED;">{{d.name}}</a>
</script>
<script type="text/html" id="operateLet">
    <div class="layui-btn-group">
        {{# if(d.inlearn){ }}
        <a href="/eduitem" class="layui-btn layui-btn-xs layui-btn-normal"><i class="layui-icon">&#xe60e;</i>正在学习</a>
        {{# } else { }}
        <a class="layui-btn layui-btn-xs" lay-event="begin"><i class="layui-icon">&#xe609;</i>开始学习</a>
        <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="cancel" title="取消学习"><i class="layui-icon">&#xe640;</i></a>
        {{# } }}
    </div>
</script>
@section js{
    <script>
        layui.use(['layer', 'table'], function () {
            var layer = layui.layer, table = layui.table;
            table.render({
                elem: '#tableDom', id: 'tableData',
                url: '/eduitem/myitemlist',
                cols: [[
                    { field: 'rows', title: '序号', width: 60, align: 'center' },
                    { title: '项目名称', width: 250, templet: '#nameLet' },
                    { field: 'typ', title: '项目类型', width: 100, align: 'center' },
                    { field: 'nian', title: '学习年度', width: 90, align: 'center' },
                    { title: '学分', width: 80, align: 'center', templet: '<span>{{ d.xf }}分</span>' },
                    { title: '是否完成', width: 100, align: 'center', templet: "<span>{{ d.isSucceed?'完成':'未完成' }}</span>" },
                    { field: 'createTime', title: '学习日期', width: 120, align: 'center' },
                    { width: 141, toolbar: '#operateLet' }
                ]]
            });
            table.on('tool(tableView)', function (obj) {
                var data = obj.data;
                if (obj.event === 'begin') { //开始学习
                    $.ajax({
                        url: '/eduitem/beginlearn',
                        type: 'post', dataType: 'json', cache: false,
                        data: { miid: data.id },
                        beforeSend: function () { layer.load(2); },
                        success: function (res) {
                            layer.msg('已经切换项目', {
                                icon: 1, time: 1000, end: function () {
                                    window.location.replace("/eduitem?rid=" + Math.random());
                                }
                            });
                        },
                        complete: function () { layer.closeAll('loading'); },
                        error: function (msg) { alert('ajaxError:' + msg.responseText); }
                    });
                }
                else if (obj.event === 'cancel') {//取消学习
                    layer.open({
                        type: 1, title: false, closeBtn: false,
                        area: '300px;', resize: false,
                        btn: ['确定取消', '继续学习'], anim: 6, time: 20000, shade: 0.8, shadeClose: true,
                        btnAlign: 'c', scrollbar: false,
                        content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">您确定要取消学习？<br/><br/>注意！<br/>取消学习将删除您所有数据，包括课件学习记录、进度、考试、练习等等。</div>',
                        yes: function () {
                            layer.closeAll();
                            cancelLearn(data.id);
                            obj.del();
                        }
                    });
                }
            });
            function cancelLearn(miid) {
                $.ajax({
                    url: '/eduitem/cancel',
                    type: 'post', dataType: 'json', cache: false,
                    data: { miid: miid },
                    beforeSend: function () { layer.load(2); },
                    success: function (res) {
                        layer.msg('取消学习成功', { icon: 1 });
                    },
                    complete: function () { layer.closeAll('loading'); },
                    error: function (msg) { alert('ajaxError:' + msg.responseText); }
                });
            }
        });
    </script>
}

