@{
    ViewBag.Title = "搜索继教项目";
    Layout = "~/Views/_layoutMember.cshtml";
}
<style>
    .item-list li {
        position: relative;
        height: 120px;
        padding: 15px 15px 15px 230px;
        border-bottom: 1px dotted #e2e2e2;
    }

    .item-list .itemPic {
        position: absolute;
        left: 15px;
        top: 15px;
    }

        .item-list .itemPic img {
            vertical-align: middle;
            border: 0;
        }

    .item-list .itemName {
        font-size: 20px;
        display: block;
        color: #2F4056;
        padding-bottom: 10px;
    }

    .item-list li p {
        font-size: 14px;
        color: #999;
        line-height: 22px;
    }

    .item-list li .xf {
        padding: 0 3px 0 8px;
        color: #FF5722;
    }

    .item-list li button {
        position: absolute;
        top: 56px;
        right: 15px;
    }
</style>
<blockquote class="layui-elem-quote layui-quote-nm">
    <form class="layui-form layui-form-pane find-panel">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">学科</label>
                <div class="layui-input-inline" style="width: 120px;">
                    <select id="sclass1" lay-filter="sclass1"></select>
                </div>
                <div class="layui-input-inline" style="width: 120px;">
                    <select id="sclass2" name="scid"></select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">名称</label>
                <div class="layui-input-inline" style="width: 200px;">
                    <input type="text" name="title" placeholder="请输入继教项目名称或编号" autocomplete="off" class="layui-input" />
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <select name="itemTyp" id="itemTyp"></select>
                </div>
            </div>
            <div class="layui-inline">
                <a href="javascript:;" class="layui-btn" lay-submit lay-filter="findForm"><i class="layui-icon">&#xe615;</i> 查询</a>
            </div>
        </div>
    </form>
</blockquote>
@*<div class="not-found"><i class="layui-icon">&#xe615;</i><h5>没有符合条件的记录</h5><p>没有查询到任何记录，您可以重新设置条件查询</p></div>*@

<ul class="item-list">
        @for (int i = 0; i < 10; i++)
        {
            <li>
                <a href="/eduitem/detail" target="_blank" class="itemPic"><img src="/upload/171212/820.jpg" style="width: 200px;height: 120px"></a>
                <a href="/eduitem/detail" target="_blank" class="itemName">住院病案首页的质量控制和检查</a>
                <p>项目类型：国家I类<b class="xf">5</b>学分</p>
                <p>学习人数：125人在学</p>
                <p>项目编号：2017-14-05-071</p>
                <p>负责单位：新智联医学技术培训中心</p>
                <button class="layui-btn layui-btn-radius">立即学习</button>
            </li>
        }
    </ul>
@section js{
    <script>
        layui.config({
            base: '/scripts/modules/'
        }).use(['form', 'selectr'], function () {
            var form = layui.form, selectr = layui.selectr;
            selectr.cbm(14, $('#itemTyp'));

            selectr.subjectClass(2, $('#sclass1'));
            form.on('select(sclass1)', function (d) {
                selectr.subjectClass(d.value, $('#sclass2'));
                form.render('select');
            });

            form.render('select');//临时刷新
        });
    </script>
}