@{
    ViewBag.Title = "后台首页";
    Layout = "~/Areas/admin/Views/_layoutAdmin.cshtml";
}
@section css{<style>body {background: #f2f2f2;}</style>}
<div class="layui-row layui-col-space30" id="symbolView"></div>
<script id="symbolDom" type="text/html">
    {{# layui.each(d, function(i, item){ }}
    <div class="layui-col-md3">
        <div class="home-panel">
            <div class="home-symbol color{{i}}"><i class="layui-icon">{{item.icon}};</i></div>
            <div class="home-value">
                <a href="{{item.href != null ? item.href : 'javascript:;'}}">{{item.value}}</a>
                <p>{{item.text}}</p>
            </div>
        </div>
    </div>
    {{# }); }}
    <div class="layui-col-md-offset3"></div>
</script>
<div class="layui-row layui-col-space30">
    <div class="layui-col-md6">
        <div class="field-panel">
            <fieldset class="layui-elem-field">
                <legend>升级日志</legend>
                <div class="layui-field-box">
                    <ul class="layui-timeline" id="updateLogView">
                        <script id="updateLogDom" type="text/html">
                            {{# layui.each(d, function(i, item){ }}
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                <div class="layui-timeline-content layui-text">
                                    <p class="layui-timeline-title">v{{item.version}}<span class="layui-badge-rim">{{item.date}}</span></p>
                                    {{item.content}}
                                </div>
                            </li>
                            {{# }); }}
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                <div class="layui-timeline-content layui-text">
                                    <p class="layui-timeline-title">孵化</p>
                                </div>
                            </li>
                        </script>
                    </ul>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="layui-col-md6">
        <div class="field-panel">
            <fieldset class="layui-elem-field">
                <legend>基本信息</legend>
                <div class="layui-field-box">
                    <table class="layui-table backinfo" id="backinfoView">
                        <script id="backinfoDom" type="text/html">
                            {{# layui.each(d, function(i, item){ }}
                            <tr>
                                <td>{{item.title}}：</td>
                                <td>{{item.value}}</td>
                            </tr>
                            {{# }); }}
                        </script>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>
</div>
@section js{
<script src="/areas/admin/js/home.js?v=2.0.2"></script>
}