<!DOCTYPE html>
<html>
<head>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - 新智联在线考试平台</title>
    <link href="/layui/css/layui.css?v=2.2.4" rel="stylesheet" />
    <link href="/content/css/global.css?v=2.0.2" rel="stylesheet" />
    @RenderSection("css", false)
</head>
<body class="gray-back">
    <div class="layui-header exam-header">
        <div class="layui-main">
            <div class="layui-logo">
                <a href="/">新智联</a>
            </div>
            <ul class="layui-nav layui-layout-right" id="navView"></ul>
            <script type="text/html" id="navDom">
                {{# layui.each(d, function(i, item){ }}
                <li class="layui-nav-item">
                    <a href="javascript:;">{{item.title}}</a>
                    {{# if(item.children != undefined && item.children.length > 0){ }}
                    <dl class="layui-nav-child">
                        {{# layui.each(item.children, function(j, chil){ }}
                        <dd><a href="{{chil.href}}">{{chil.title}}</a></dd>
                        {{# });}}
                    </dl>
                    {{# } }}
                </li>
                {{# });}}
            </script>
        </div>
    </div>
    <div class="member-content">
        @RenderBody()
    </div>
    <div class="footer">
        <p>Copyright &copy; 2017 新智联在线学习平台 版权所有</p>
        <p>贵阳新智联科技有限公司&ensp;黔ICP备17009435号&ensp;版本:2.0.2 </p>
        <p>联系电话：0851-88515155 / 88515156 工作时间：周一至周五 09:00-17:30</p>
    </div>
    <script src="//cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>
    <script src="/scripts/jquery.cookie.js"></script>
    <script src="/layui/layui.js?v=2.2.4"></script>
    <script src="/scripts/member/global.js?v=2.0.2"></script>
    @RenderSection("js", false)
</body>
</html>
