<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="version" value="2.0.2"/>
    <add key="smtpServer" value="smtp.163.com"/>
    <add key="EmailFrom" value="gyxzlkj@163.com"/>
    <add key="EmailPwd" value="gyxzlkj88515155"/>
    <!--短信平台发送服务-->
    <add key="sms_send_service" value="http://web.wasun.cn/asmx/smsservice.aspx"/>
    <add key="sms_mo_service" value="http://web.wasun.cn/asmx/reportmo.aspx"/>
    <!--微信配置-->
    <add key="AppId" value="wx410e79eced965f68"/>
    <add key="AppSecret" value="9f7bb1e5ea7533a735bacd31533cff4b"/>
    <add key="WeChatApiAddr" value="https://api.weixin.qq.com"/>
    <!--redis过期时间/秒 3456000：40天-->
    <add key="redisExpiry" value="3456000"/>
  </appSettings>
  <connectionStrings>
    <add name="SQLConnString" connectionString="Data Source=192.168.3.10;uid=sa;pwd=123;database=examdb_debug;"/>
    <!--redis连接字符串-->
    <add name="RedisExchangeHosts" connectionString="127.0.0.1:6379,password=GYXZLkj88515155"/>
  </connectionStrings>
  <system.web>
    <httpRuntime targetFramework="4.5"/>
    <compilation debug="true" targetFramework="4.5"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <customErrors mode="Off" defaultRedirect="/content/static/notfound.html"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".grf" mimeType="grf/gridreport"/>
    </staticContent>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <!--package版本，不能删除-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>