@{
    ViewBag.Title = "课件管理";
    Layout = "~/Areas/root/Views/_layoutRoot.cshtml";
}

<div class="layui-tab layui-tab-brief" lay-filter="tabView">
    <ul class="layui-tab-title">
        <li lay-id="list" class="layui-this">课件列表</li>
        <li lay-id="edit">课件编辑</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <blockquote class="layui-elem-quote layui-quote-nm">
                <form class="layui-form layui-form-pane find-panel">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">职称</label>
                            <div class="layui-input-inline">
                                <select name="leid" id="jibiec" lay-filter="jibiec"></select>
                            </div>
                            <div class="layui-input-inline">
                                <select name="zid" id="zhichengc"></select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-inline" style="width: 350px;">
                                <input type="text" name="title" placeholder="请输入标题" autocomplete="off" class="layui-input" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">课件类型</label>
                            <div class="layui-input-inline" style="width: 100px;">
                                <select name="inputState">
                                    <option value="-1">全部</option>
                                    <option value="3">必修课</option>
                                    <option value="4">选修课</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">添加时间</label>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" id="mindate" name="mindate" placeholder="yyyy-mm-dd" autocomplete="off" class="layui-input" onfocus="minDateEve()" />
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" id="maxdate" name="maxdate" placeholder="yyyy-mm-dd" autocomplete="off" class="layui-input" onfocus="maxDateEve()" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <a href="javascript:;" class="layui-btn" lay-submit lay-filter="findForm"><i class="layui-icon">&#xe615;</i> 查询</a>
                        </div>
                    </div>
                </form>
            </blockquote>
            <table id="tableDom" lay-filter="tableView"></table>
        </div>
        <div class="layui-tab-item">
            <form class="layui-form editsub">
                <input type="hidden" id="kid" name="id" value="0" autocomplete="off" />
                <input type="hidden" id="kcurl" name="curl" value="0" autocomplete="off" />
                <div class="layui-form-item">
                    <label class="layui-form-label"><b class="requ">*</b>级别</label>
                    <div class="layui-input-inline">
                        <select name="jibie" id="jibie" lay-verify="required" lay-filter="jibie"></select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><b class="requ">*</b>职称</label>
                    <div class="layui-input-inline">
                        <select name="zhicheng" id="zhicheng" lay-verify="required"></select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><b class="requ">*</b>课程类型</label>
                    <div class="layui-input-inline">
                        <select name="inputTyp" id="inputTyp" lay-verify="required">
                            <option value=""></option>
                            <option value="3">必修课</option>
                            <option value="4">选修课</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><b class="requ">*</b>标题</label>
                    <div class="layui-input-block">
                        <input type="text" id="title" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" autofocus class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><b class="requ">*</b>学时</label>
                    <div class="layui-input-inline">
                        <input type="text" id="xue" name="xue" required lay-verify="xue" placeholder="请输入学时" autocomplete="off" autofocus class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><b class="requ">*</b>学时时长</label>
                    <div class="layui-input-inline">
                        <input type="text" id="minute" name="minute" required lay-verify="minute" placeholder="请输入学时时长" autocomplete="off" autofocus class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">内容类型</label>
                    <div class="layui-input-inline">
                        <select name="inputCont" id="inputCont" lay-verify="required">
                            <option value=""></option>
                            <option value="1">HTML文件</option>
                            <option value="2">视频</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><b class="requ">*</b>内容<br /><a class="layui-btn layui-btn-xs layui-btn-primary editor"><i class="layui-icon">&#xe639;</i></a></label>
                    <div class="layui-input-block"><textarea id="subs" name="subs" placeholder="请输入内容" class="layui-textarea" style="height:145px" required lay-verify="required"></textarea></div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="submit" id="saveForm" class="layui-btn" lay-submit lay-filter="saveForm">保存</button>
                        <button type="reset" id="resetForm" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/html" id="operate">
    <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
@section js{
    <script src="/content/my97date/WdatePicker.js"></script>
    <script src="/Areas/root/js/kejian.js?v=2.2.3"></script>
}