@{
    ViewBag.Title = "课件管理";
    Layout = "~/Areas/root/Views/_layoutRoot.cshtml";
}
<div class="layui-tab layui-tab-brief" lay-filter="tabView">
    <ul class="layui-tab-title">
        <li lay-id="list" class="layui-this">课件列表</li>
        <li lay-id="edit">课件编辑</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <blockquote class="layui-elem-quote layui-quote-nm">
                <form class="layui-form layui-form-pane find-panel">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-inline" style="width: 300px;">
                                <input type="text" name="title" placeholder="请输入标题" autocomplete="off" class="layui-input" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">修读类型</label>
                            <div class="layui-input-inline" style="width: 100px;">
                                <select name="inputState">
                                    <option value="-1">全部</option>
                                    <option value="1">必修课</option>
                                    <option value="2">选修课</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">课件内容</label>
                            <div class="layui-input-inline" style="width: 100px;">
                                <select id="contTyp" name="zid"></select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">添加时间</label>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" id="mindate" name="mindate" placeholder="yyyy-mm-dd" autocomplete="off" class="layui-input" onfocus="minDateEve()" />
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" id="maxdate" name="maxdate" placeholder="yyyy-mm-dd" autocomplete="off" class="layui-input" onfocus="maxDateEve()" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <a href="javascript:;" class="layui-btn" lay-submit lay-filter="findForm"><i class="layui-icon">&#xe615;</i> 查询</a>
                        </div>
                    </div>
                </form>
            </blockquote>
            <table id="tableDom" lay-filter="tableView"></table>
        </div>
        <div class="layui-tab-item">
            <form class="layui-form editsub">
                <input type="hidden" id="kid" name="id" value="0" autocomplete="off" />
                <input type="hidden" id="kcurl" name="curl" value="0" autocomplete="off" />
                <div class="layui-form-item">
                    <label class="layui-form-label"><b class="requ">*</b>标题</label>
                    <div class="layui-input-inline" style="width:515px;">
                        <input type="text" id="title" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" autofocus class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><b class="requ">*</b>继教项目</label>
                    <div class="layui-input-inline" style="width:515px;">
                        <select id="eduItem" name="itid" lay-search lay-verify="required"></select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">授课老师</label>
                        <div class="layui-input-inline">
                            <select id="teacher" name="teacher" lay-search></select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">作者</label>
                        <div class="layui-input-inline">
                            <input type="text" id="author" name="author" placeholder="请输入作者" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label"><b class="requ">*</b>学时时长</label>
                        <div class="layui-input-inline">
                            <input type="number" id="minute" name="minute" required lay-verify="minute" placeholder="请输入学时时长" autocomplete="off" class="layui-input xueshi" value="60">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label"><b class="requ">*</b>学时</label>
                        <div class="layui-input-inline">
                            <input type="number" id="xue" name="xue" required lay-verify="xue" placeholder="请输入学时" autocomplete="off" class="layui-input xueshi" value="1">
                        </div>
                        <div class="layui-form-mid layui-word-aux">需学<b id="xueMinute">60</b>分钟</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label"><b class="requ">*</b>课程类型</label>
                        <div class="layui-input-inline">
                            <select name="typ" id="edit_typ" lay-verify="required">
                                <option value="1">必修课</option>
                                <option value="2">选修课</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label"><b class="requ">*</b>内容类型</label>
                        <div class="layui-input-inline">
                            <select name="contTyp" id="edit_contTyp" lay-verify="required"></select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><b class="requ">*</b>内容<br />
                        <a class="layui-btn layui-btn-xs layui-btn-primary editor"><i class="layui-icon">&#xe639;</i></a>
                    </label>
                    <div class="layui-input-inline" style="width:515px;">
                        <textarea id="cont" name="cont" placeholder="请输入内容" class="layui-textarea" style="height:145px" required lay-verify="required"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="submit" id="saveForm" class="layui-btn" lay-submit lay-filter="saveForm">保存</button>
                        <button type="reset" id="resetForm" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/html" id="operate">
    <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
@section js{
    <script src="/content/my97date/WdatePicker.js"></script>
    <script src="/Areas/root/js/kejian.js?v=2.3.0"></script>
}